* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(241, 241, 241);
}

ul {
    margin-left: 50px;
    list-style: decimal;
}

li {
    margin: 5px 0;
}

h2 {
    margin: 20px 0 10px 30px;
}

hr {
    margin: 10px 0;
}

form {
    margin-left: 50px;
}

form label {
    display: inline-block;
    width: 50px
}

form input {
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid gray;
}

form .div-button {
    width: 250px;
    display: flex;
    justify-content: center;
}

form button {
    width: 100px;
    margin-top: 7px;
    padding: 5px;
    background-color: rgb(48, 48, 48);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.hidden {
    display: none;
}